<!DOCTYPE html>
<html><head>
<title>marked.li - COMING SOON</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
  <meta name="description" content="markedli - bookmarks" /> 
  <meta name="keywords" content="markedli, marked.li, markedli.com, " /> 
  <meta name="author" content="marked.li" /> 

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" /> 
<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
<link rel="stylesheet" href="css/markedli.css">

<script type="text/javascript" src="javascripts/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="javascripts/markedli.js"></script>
  <noscript><style type="text/css">#signup {display:none;}</style></noscript>

<style type="text/css">
body {background-image:url('images/bg-grey.png');}

.container2 {-moz-box-shadow: 4px 4px 5px #3e3e3e;-webkit-box-shadow: 4px 4px 5px #3e3e3e;box-shadow: 4px 4px 5px #3e3e3e;}
</style>
</head>
  
<body>
<div id="floater"></div>
<div class="container1">
<div class="container2">
  <div id="container-top">
    <div class="row">
      <div class="span2" style="background-color:#fefefe;"></div>
      <div class="span2"><img src="images/logo-grey.png" class="logo"></div>
      <div class="span12"><img src="images/banner.png" class="banner"></div>
    </div>
  </div>

  <div id="container-bottom">
    <center>Link to <h2>where</h2> you want. &nbsp;&nbsp;Tag with <h2>what</h2> you want. &nbsp;&nbsp;<h1>Share</h1> with <h2>who</h2> you want.
      <br><br>We get what you want.
      <br><br><h3>...and we're building it.</h3>
  </div>
</div>

<center>
  <div id="icons">
    <a href="" style="border:0px;"><img src="images/lj.png" class="icon"></a>
    <a href="http://twitter.com/#!/markedli" style="border:0px;"><img src="images/twitter.png" class="icon"></a>
    <a href="http://re.marked.li" style="border:0px;"><img src="images/wordpress.png" class="icon"></a>
  </div>
  
<div id="form-div"><form id="signup">  
          <div class="holder"> 
            <input id="signup_email" class="textinput formhint" type="text" name="email" placeholder="you@domain.com" title="you@domain.com" value="you@domain.com" /> 
          </div> 
          <div class="holder"> 
            <input class="submit" type="submit" value="UPDATES"> 
          </div> 
        </form>
  <noscript><form target="_blank" onsubmit="return window.confirm(&quot;You are submitting information to an external page.\nAre you sure?&quot;);">  
       <div style="display:inline;"> 
         <input class="textinput" type="text" name="email" title="you@domain.com" value="you@domain.com"> 
       </div> 
    <div style="display:inline; margin-left:10px;"> 
         <input class="submit" type="submit" value="Sign up"> 
       </div> 
    </form></noscript>
<h4>(the only thing we'll do with your email is email you.)</h4></div></center>
</div></body>
</html>    
